.contacts {
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    background-color: var(--mantine-color-dark-8);
}
.link {
    text-decoration: underline;
    transition: 0.25s;
}
.link:hover {
    color: #ff5e5e
}
.imageContact{
    width: 100%;
    height: auto;
}

.application{
    min-height: 100%;
    border-radius: 1.2rem;
    padding: 1.25rem 0;
}
.card{
    color: white;
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    background: var(--mantine-color-dark-8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(201, 202, 212, 0.18);
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}
.card:hover{
    transform: translateY(-0.25rem);
    box-shadow: 0 10px 27px 0 rgba(125, 197, 218, 0.17);
}
.cardImage_cv{
    aspect-ratio: 16/8;
    width: 100%;
    min-height: 90px;
    background-image: url("../../../img/cv.png");
    background-position: center;
    background-size: cover;
}
.cardImage_lp{
    aspect-ratio: 16/8;
    background-image: url("../../../img/handshake.jpg");
    background-size: cover;
    background-position: center;
}
.carousel {
    overflow-x: auto;
}

.contact{
    overflow: hidden;
    --brand-color: #fefefe;
    cursor: pointer;
}
.contact_icon{
    z-index: 2;
    padding: 0.25rem;
    height: 50px;
    border-radius: 5px;
    background: var(--brand-color);
}
.contact_plate{
    font-size: 1.25rem;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 56px;
    border-radius: 5px;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.25s ease;
    opacity: 0;
    z-index: 1;
    line-height: 50px;
    background-color: rgba(53, 60, 61, 0.2);
    border: 2px solid #76767655;
}
.contact p {
    filter: blur(0);
    transition: 0.25s;
}

@keyframes slide-up {
    from {
        transform: none;
    }
    to{
        transform: translateY(-0.25rem);
    }
}