
:root {
    scroll-behavior: smooth;
    --primary-color: #0099ff;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 15, 23;
    --background-end-rgb: 0, 0, 0;
    --glow-color-hover: #0099ffa2;
    --track-bg: var(--mantine-color-gray-5);

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
            to bottom right,
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
            #ffffff80,
            #ffffff40,
            #ffffff30,
            #ffffff20,
            #ffffff10,
            #ffffff10,
            #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;

    --primary-text-color: #161618;
    --secondary-text-color: #1c1b1d;

    --gray-100: #b9b9b9;
    --darkblue-900: #0b0e14;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    color: white;
    background: linear-gradient(
            to bottom,
            rgb(var(--background-start-rgb)),
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb)) !important;
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    color-scheme: dark;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e4e4e4;
    border-radius: 10px;
}

.mantine-Drawer-title {
    flex-grow: 1;
}

.mantine-Drawer-close {
    margin-left: 0;
}

@keyframes departure {
    from {
        transform: translateX(var(--vibration-width))
    }
    to {
        transform: translateX(calc(0px - var(--vibration-width)))
    }
}